/* ***********  *********** */

/* ***********  VARIABLES *********** */
:root{
    --color-menu:rgba(0, 178, 181, 0.85) ;
    --color-header: #009EFF;
    --container-width: 1200px;
    --color-main: rgb(222, 165, 112) ;
}



/* *********** RESET CSS *********** */



*,
*:before,
*::after{
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    background-color: var(--color-header);
    position: sticky;
    top: 0;
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
}

.panel{
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease;
}

.panel.is-active {
    opacity: 1;
    visibility: visible;
}

.btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-menu);
}


.menu{
    height: 100%;
    width: inherit;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--color-menu);
}

.menu a{
    height: 19%;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--color-menu);
    background-color: #393E46;
}


.section{
    padding: .3rem;
    width: 100%;
    height: 95vh;
    font-size: 1.8rem;
    text-align: center;
}



/* RELOJ */
.alarma{
    height: 4%;
    display: flex;
    justify-content: center;
}

.alarma-button{
    font-size: 2rem;
    margin: 2px;
}


/*SECCIÓN 2*/

.stage{
    height: 50vh;
    margin: auto;
    width: 95%;
    background-color: #393E46;
    display: flex;
    border: solid 8px var(--color-header);
}

.ball{
    margin: auto;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-header);
}

/*SCROLL TOP BUTTON*/
.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(5rem + 1vw);
    width: 3.5rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--color-menu);
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0; 
    transition: all 0.4s ease-out;
}

.scroll-top-btn:hover{
    background-color: black;
    color: var(--color-menu);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}


.divMode{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 3.5rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--color-menu);
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0; 
    transition: all 0.4s ease-out;
}

.divMode:hover{
    background-color: black;
    color: var(--color-menu);
}

.dark-mode{
    background-color: black;
    color: var(--color-header);
}


/*Estatus de red*/
.online,
.offline {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline {
    background: #b71c1c;
}

/*CARDS*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: #393E46;
    color: var(--color-menu);
    transition: all  .3s ease-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card figcaption{
    padding: 1rem;
}

.filtrer{
    display: none;
}